@media only screen and (max-width: 600px) {
  .responsive-image {
    width: 376px;
    height: auto;
  }
  
.logo-name {
  padding-top: 10px;
}
  
  .container {
    justify-content: center;
  }
  
  .text-container {
    width: 360px;
    margin: -3px;
  }

  .image-pc {
    display: none;
  }
  
 .container2 {
   display: block;
 }

@media only screen and (min-width: 601px) and (max-width: 991px) {
  .responsive-image {
    width: 450px;
  }
  
  #margin-icon {
   margin-right: 25px;
  }
  
  .container {
    display: flex;
  }
  
  .text-container {
    width: 300px;
    font-size: 18px;
  }
  
.image-pc {
  display: flex;
  align-items: center;
}
  
  #list-pc {
   display: flex;
  }
  
  .image-mobile {
    display: none;
  }
  
  main {
    margin: 45px;
  }

}

@media only screen and (min-width: 992px) and (max-width: 1200px){
  .responsive-image {
    width: 500px;
 }
  
  .margin-icon {
  margin-right: 30px;
  }
  
.menu-logo {
  margin-left: 0;
  padding-top: 100px;
}

  .container {
    display: flex;
  }
  
  .text-container {
    width: 400px;
    font-size: 20px;
  }
  
.image-pc {
  display: flex;
  align-items: center;
}
  
  #list-pc {
    display: flex;
  }
  
  .image-mobile {
    display: none;
  }
  
  main {
    margin: 140px;
  }
}

@media only screen and (min-width: 1201px) {
  .responsive-image {
    width: 350px;
  }
  
.margin-icon {
  margin-right: 30px;
}

  .menu-logo {
  padding-top: 100px;
  margin-left: 0;
  }
  
  .iconl {
    width: 35px;
    height: auto;
  }

 .container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
 }
  
  .text-container {
    width: 300px;
    font-size: 22px;
  }
  
.image-pc {
  display: flex;
  align-items: center;
}
  
  #list-pc {
    display: flex;
  }
  
  .image-mobile {
    display: none;
  }
  
  main {
    margin: 160px;
  }
}
