.responsive-image {
  width: 150px;
  height: 50px;
}
@media only screen and (max-width: 600px) {
  .responsive-image {
    width: auto;
    height: auto;
  }
}
@media only screen and (min-width: 601px) and (max-width: 991px) {
  .responsive-image {
    width: ;
    height: 700px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px){
  .responsive-image {
    width: 1290px;
    height: 800px;
  }
}
@media only screen and (min-width: 1201px) {
  .responsive-image {
    width: 1000px;
    height: 800px;
  }
.logo1 {
  width: 60px;
  height: 60px;
}
@media only screen and (max-width: 499px) {
  .logo1 {
    width:  70px;
    height: 70px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 1199px) {
  .logo1 {
    width: 80px;
    height: 80px;
    margin-top: 0px;
  }
}
@media only screen and (min-width: 1200px) {
  .logo1 {
    width: 100px;
    height: 100px;
  }
}
.logo2 {
  width: 250px;
  height: 60px;
}
@media only screen and (max-width: 499px) {
  .logo2 {
    width: 300px;
    height: 70px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 1199px) {
  .logo2 {
    width: 620px;
    height: 170px;
  }
}
@media only screen and (min-width: 1200px) {
  .logo2 {
    width: 800px;
    height: 230px;
  }
}
.iconl {
  width: 30px;
  height: 30px;
}
@media only screen and (max-width: 499px) {
  .iconl {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 1199px) {
  .iconl {
    width: 60px;
    height: 60px;
  }
}
@media only screen and (min-width: 1200px) {
  .iconl {
    width: 80px;
    height: 80px;
  }
}
.margin-icon {
  margin-right: 30px;
}
@media only screen and (max-width: 499px) {
  .margin-icon {
    margin-right: 40px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 1199px) {
  .margin-icon {
   margin-right: 60px;
  }
}
@media only screen and (min-width: 1200px) {
  .margin-icon {
   margin-right: 80px;
  }
}
