.responsive-image {
  width: 150px;
  height: 235px;
}

@media screen and (max-width: 600px) {
  .resposive-image {
  height: 300px;
  }
}

@media screen and (max-width: 960px) {
  .responsive-image {
  height: 500px;
  }
}

@media screen and (min-width: 1280px) {
  .responsive-image {
  height: 800px;
  }
}


