@media only screen and (max-width: 600px) {
  .responsive-image {
    width: 376px;
    height: auto;
  }
  
.margin-icon {
  margin: 40px;
}
  
.logo-name {
  padding-top: 10px;
}
  
  .iconl {
    width: 25px;
    height: auto;
  }

  .container {
    justify-content: center;
  }
  
  .content-ul {
    display: flex;
    flex-wrap: wrap;
  }
  
  .content1 {
    width: 360px;
    text-align: center;
  }

  .content-ul li {
    margin: 30px;
  }
  
  .div-responsive-image-container {
    display: none;
  }
  
 .container2 {
   display: block;
 }
  
div {
  margin: 1px;
}
  
  main {
    margin: 5px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 991px) {
  .responsive-image {
    width: 450px;
  }
  
.margin-icon {
  margin: 60px;
  width: 20px;
  height: 20px;
}

  .iconl {
    width: 60px;
    height: auto;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .container-ul {
    display: flex;
  }
  
.container-ul li {
    margin: 20px;
  }
  
  .content1 {
    width: 300px;
    font-size: 18px;
  }
  
.div-responsive-image-container {
  display: flex;
  align-items: center;
}
  
  .responsive-image-container {
    width: 350px;
  }
  
  .div-responsive-image {
    display: none;
  }
  
  .container2 {
    display: flex;
  }

div {
  margin: 15px;
}
  
  main {
    margin: 30px;
  }

  i {
    margin-left: 10px;
  }
  
}

@media only screen and (min-width: 992px) and (max-width: 1200px){
  .responsive-image {
    width: 300px;
    height: 150px;
}
.recommendation i {
  margin-right: 10px;
}
  
.margin-icon {
  margin: 80px;
  width: 22px;
}
  
.menu-logo {
  top: 40px;
  margin-left: 0;
}
  
  .iconl {
    width: 30px;
    height: auto;
  }

  .container {
    display: block;
    display: inline-block;
  }

  .container-ul {
    display: flex;
  }
  
.container-ul li {
    margin: 20px;
  }
  
  .content1 {
    width: 400px;
  }
  
.div-responsive-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
  contain2 {
    display: flex;
  }
  
div {
  margin: 40px;
}
  
  main {
    margin: 80px;
  }
}

@media only screen and (min-width: 1201px) {
  .responsive-image {
    width: 350px;
    height: 175px;
  }
  
.margin-icon {
  margin: 100px;
  width: 24px;
}

  .menu-logo {
  top: 40px;
  margin-left: 0;
  }
  
  .iconl {
    width: 35px;
    height: auto;
  }

 .container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .container-ul {
    display: flex;
  }
  
.container-ul li {
    margin: 20px;
  }
  
  .content1 {
    width: 300px;
    margin-left: 20px;
  }
  
.div-responsive-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
  .responsive-image-container {
    witdh: 500px;
  }
  
  div-responsive-image {
    display: none;
  }
  
  container2 {
    display: flex;
  }
  
div {
  margin: 60px;
}
  
  main {
    margin: 90px;
  }
}
