@media only screen and (max-width: 600px) {
  footer {
    height: 650px;
  }
  
  .responsive-image {
    width: 376px;
    height: auto;
  }
  
.logo-name {
  padding-top: 10px;
}
  
  .container {
    justify-content: center;
  }
  
  .text-container {
    width: 360px;
    margin: -3px;
  }
  
  .image-mobile {
    text-align: center;
  }
  
  .image-pc {
    display: none;
  }
  
  .logo-footer {
    margin: 0;
    width: 250px;
 }
  
  .line-footer-mobile {
    display: block;
  }
  
  .container-footer {
    display: block;
  }
}

@media only screen and (min-width: 601px) and (max-width: 991px) {
  footer {
    height: 410px;
    dislay: block;
  }
  
  .responsive-image {
    width: 400px;
    height: auto;
  }
  
  #margin-icon {
   margin-right: 25px;
  }
  
  .container {
    display: flex;
  }
  
  .text-container {
    width: 350px;
    font-size: 18px;
    padding: 20px;
  }
  
.image-pc {
  display: flex;
  justify-content: center;
}
  
  #list-pc {
   display: flex;
  }
  
  .image-mobile {
    display: none;
  }
  
  .logo-footer {
    display: center;
  }
  
  .container-footer {
    display: block;
  }
  
  .format-content-pc-footer {
    padding-left: 20px;
  }
  
  .line-footer-mobile {
    display: none;
  }
  
  .format-content-pc-footer {
    display: flex;
    justify-content: row;
  }
  
  main {
    margin: 45px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  footer {
    height: 500px;
    display: block;
  }
    
  .responsive-image {
    width: 350px;
    height: auto;
  }
  
  .menu-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
    padding-inline: 20px;
  }
  
.menu-logo {
  margin-left: 0;
}
  
  .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
  }
  
  .text-container {
    width: 280px;
    font-size: 20px;
  }
  
.image-pc {
  display: flex;
  align-items: center;
}
  
  #list-pc {
    display: flex;
  }
  
  .image-mobile {
    display: none;
  }
  
  .logo-footer {
    display: center;
  }
  
  .container-footer {
    display: flex;
    padding: 25px;
  }
  
  .line-footer-mobile {
    display: none;
  }
  
    .format-content-pc-footer {
    display: flex;
    justify-content: row;
    }
  
  main {
    margin: 140px;
  }
}

@media only screen and (min-width: 1201px) {
  footer {
    height: 600px;
  }
    
  .responsive-image {
    width: 350px;
    height: auto;
  }

  .menu-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
    padding-inline: 20px;
  }

 .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
 }
  
  .text-container {
    width: 300px;
    font-size: 22px;
  }
  
.image-pc {
  display: flex;
  align-items: center;
}
  
  #list-pc {
    display: flex;
  }
  
  .image-mobile {
    display: none;
  }
  
  .logo-footer {
    display: center;
  }
  
  .container-footer {
    display: block;
    padding: 30px;
  }
  
  .name-footer {
    font-size: 18px;
    }
  
  .line-footer-mobile {
    display: none;
  }
  
  .format-content-pc-footer {
    display: flex;
    justify-content: row;
  }
  
  main {
    margin: 160px;
  }
}
