* {
  margin: 0;
  padding: 0;
}

html {
  font-family: times;
}

p {
  font-size: 16px;
  text-align: justify;
  color: #000;
}

h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: roboto;
  font-weight: bold;
}
  
h1 {
  text-align: left;
  font-size: 24px;
  color: #737373;
}
  
h2 {
  font-size: 22px;
  color: #323232;
}

h3 {
  font-size: 20px;
  color: #2B2B2B;
}

h4 {
  font-size: 18px;
  color: #161616;
}

main {
  margin: 0;
}

header {
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
}

footer {
  background-color: #FFEEC8;
  text-align: center;
  padding: 20px;
}

.logo1 {
  width: 60px;
  height: 60px;
  margin-top: -15px;
}

.logo2 {
  width: 250px;
  height: 59px;
  margin-bottom: 1rem;
}

.nav-link {
  border: 1px solid black;
  color: #000;
  padding: 10px;
  width: 100%;
}

.padding {
  margin-top: 120px;
}

.container {
  display: flex;
}

.container-ul {
  flex-wrap: nowrap;
}

.content1 {
  flex-wrap: wrap;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #CCC;
  margin: 20px 0;
}

.menu {
  background-color: #6FB132;
  justify-content: center;
  display: flex;
  list-style: none;
  font-size: 20px;
}

.div-responsive-image {
  display: flex; 
  justify-content: center;
}

.banner-image {
  background-image: url('../assets/images/3_20240716_191948_0002.png');
  padding: 75px;
  opacity: 20%;
}

.text-banner {
  text-align: center;
  font-size: 30px;
  color: #6FB132;
  opacity: 0;
}

#text01 {
  background-color: #F5FFD0;
  padding: 10px;
}

#text02 {
  background-color: #E6FF8E;
  padding: 10px;
}

#text04 {
  background-color: #DCDEDA;
  padding: 10px;
}

#bgln {
  background-color: #E3E3E3;
}

#Copyright {
  color: #000;
  font-size: 16px;
  font-weight: bold;
}
