* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Times New Roman;
}

p {
  font-size: 16px;
  text-align: justify;
  color: #000;
}

h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: Roboto;
  font-weight: bold;
}
  
h1 {
  text-align: left;
  font-size: 24px;
  color: #4F4F4F;
}
  
h2 {
  text-align: left;
  font-size: 22px;
  color: #696969;
}

h3 {
  text-align: left;
  font-size: 20px;
  color: #808080;
}

h4 {
  text-align: left;
  font-size: 18px;
  color: #808080;
}

h5 {
  text-align: left;
  font-size: 16px;
  color: #6FB132;
}

main {
  margin: 0;
}

header {
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
}

footer a:visited {
  color: #00892D;
}

footer a {
  color: #6FB132;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #000;
}

footer p {
  top: 3px;
}

.logo-name {
  width: 360px;
  height: auto;
  top: 0;
  margin-left: 0;
}

.menu-logo {
 display: flex;
 justify-content: space-between;
}

.menu {
  background-color: #6FB132;
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding-top: 5px;
  height: 30px;
  width: 100%;
}

.nav-link {
  color: #000;
  padding: 5px;
  width: 100%;
}

.linha-vertical {
  height: 40px;
  width: 2px;
  border-right: 2px solid black;
}

.banner-image {
  background-image: url('../assets/images/Farming.png');
  padding: 75px;
}

.banner-image a {
  color: #000;
}

a.banner-image:visited {
  color: #007997;
}

.banner-image p {
  text-align: center;
  font-size: 20px;
  color:  #000;
  box-shadow: 1px 1px 1px rgba(0 0 0);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), 
                3px 3px 5px rgba(0, 0, 0, 0.5);
}

.padding {
  margin-top: 100px;
}

.background-container {
  background-color: #F5FFD0;
  margin: 15px;
  padding: 5px;
}

.background-container1 {
  background-color: #FFFDD4;
  margin: 15px;
  padding: 5px;
  }

.background-container2 {
  background-color: #DFFFD9;
  margin: 15px;
  padding: 5px;
}

.background-container3 {
  background-color: #E1E1E1;
  margin: 15px;
  padding: 5px;
}

.container-responsive-video {
  display: flex;
  justify-content: center;
}

.all-list {
  justify-content: center;
}

.all-list li {
  margin: 30px;
  list-style: square;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #CCC;
  margin: 20px 0;
}

.line-footer {
  display: center;
  width: 100%;
  height: 2px;
  background-color: #6FB132;
  margin: 20px 0;
}

.line-footer-mobile {
  display: center;
  width: 100%;
  height: 2px;
  background-color: #6FB132;
  margin: 20px 0;
}

.content-footer {
  color: #6FB132;
}

.footer-column {
  display: flex;
}

.feedback-text-footer {
  font-size: 12px;
  color: #666666;
}

a.credits-list-footer:visited {
  color: #6FB132;
}

a.credits-list-footer {
  color: #00B6E4;
}

.name-footer {
  color: #6FB132;
  font-family: Cursive;
  font-size: 20px;
}

.logo-footer {
  width: 150px;
  height: auto;
  padding-top: 5px;
}

.image-agrinho-footer {
  width: 200px;
  height: auto;
  padding-top: 50px;
}

.policyprivacy {
  font-size: 12px;
}

.copy-privacy {
  display: flex;
}

#icon-solid-bar {
 padding-top: 10px;
}

#mark-color {
  color: #5abeaf;
  }

#Copyright {
  font-size: 12px;
  font-weight: bold;
  color: #666666;
}
